*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

/build
/myapplication
/.idea
/gradle
eep.iml
settings.gradle
gradlew
gradlew.bat
local.properties
README.md
.gitigonore
